/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

body
  background-color: var(--black-color);

html
  width: 100vw;
  min-height: 100vh;
  background-color: var(--black-color);

:root
  --black-color: #404040;
  --white-color: #ffffff;
  --grey-subtle: #bfbfbf;
  --grey-color: #7f7f7f;

